body {
  /*font-family: "Heiti SC";*//*このフォントは「直」の文字が普通とは異なる*/
  margin: 0;
   padding: 0px 0 0px 0;/*[上][右][下][左]のパディング*/
}

* html body{
    overflow: hidden;
}

a {/*a要素*/
  color: lightSeaGreen;
}

a:hover {/*カーソルの乗った a 要素*/
  color: indianRed;
  text-decoration: none;
}
